doctype html
html
  head
    title Demo
    style.
      body {
      background-color: black;
      }
      .ctrl {
      text-align: center;
      }
      h1 {
      color: white;
      text-align: center;
      }
      table {
      margin: 0 auto;
      margin-top: 30px;
      }
      table, th , td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
      }
      table tr:nth-child(odd) {
      background-color: #f1f1f1;
      }
      table tr:nth-child(even) {
      background-color: #ffffff;
      }
      button {
      background-color: #fff;
      border: none;
      color: #000;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 20px;
      outline: none;
      cursor: pointer;
      }
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
      }
  body
    h1 Heading
    .ctrl(ng-app='myApp', ng-controller='demoCtrl')
      button(type='button', ng-click='functionCall()') Click Me!
      table.tableData(ng-hide='hideTable', ng-cloak='')
        tr
          th Heading1
          th Heading2
        tr(ng-repeat='x in names')
          td {{ x.Name }}
          td {{ x.Country }}
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
  script.
    var app = angular.module('myApp', []);
    app.controller('demoCtrl', function($scope, $http) {
    $scope.hideTable = true;
    $scope.functionCall = function() {
    $scope.hideTable = false;
    $http.get("http://www.w3schools.com/angular/customers.php")
    .then(function (response) {$scope.names = response.data.records;});
    };
    });
